{% extends "layout.html" %}
{% block content %}
<br>
<div class="main-search-bar">
    <img src="{{ url_for('static', filename='logo.png') }}" width="100px" style="margin-right:25px ;"   alt="SanskritArchive">
    <div><form>
          <div class="main-search">
             <span class="main-search-icon material-symbols-outlined">
                search
             </span>
             <input class="main-search-input input" type="text" placeholder="Search  in Dictionary"  name="dictSearch" 
             hx-get="/dictSearchRoute" hx-trigger="keyup changed delay:500ms" 
             hx-target="#dictSearchResults">

          </div>
       </form>
    </div>
 </div>


<table >

    <tbody id="dictSearchResults">

    </tbody>
    </table>    
{% endblock content %}

<!-- <table>
{% for data in all_dict_data %}
    <tr>
        <td><b>{{data[0]}}</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    {% for all_dic_meaning in data[1] %}
    <tr> <td></td> 
        <td>{{all_dic_meaning[0]}},</td> 
        <td>
            {% for each_ref in all_dic_meaning[1] %} 
                {% for key, value in each_ref.items()%}
                    <a class="sloka-synonyms-key" href="{{ url_for('lib')}}/{{key}}">{{value}} </a>  &nbsp;
                {% endfor %}                    
            {% endfor %}
        </td>        
    {% endfor %}              
{% endfor %}          
</table>     -->
