<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">  
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mytheme.css') }}">
  <!-- HTMX script -->
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>   
  {% if title %}
  <title>SanskritArchive - {{ title }}</title>
  {% else %}
  <title>SanskritArchive</title>
  {% endif %}
</head>

<body>
  <header>
      <!-- <div class="container"> -->
        <nav>
          <div class="nav-left">
          <ul>

            <li>  <img src="{{ url_for('static', filename='logo.png') }}" alt="Girl in a jacket" style="width:30px;"> </li>          
            <li><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
            <li><a href="{{ url_for('static', filename='SankritTutorial.html') }}" class="nav-link">Learn Sanskrit</a></li>            
            <li><a href="{{url_for('dictionary')}}" class="nav-link">Dictionary</a></li>     
            <li><a href="{{url_for('hindi2eng')}}" class="nav-link">hindi2IAST</a></li>                        
            <li><a href="{{url_for('addNewSong')}}" class="nav-link">AddSong</a></li>                                    
            <!-- <li><a href="{{ url_for('static', filename='SankritTutorial.html') }}" class="nav-link">Sanskrit</a></li> -->
            </ul>
          </div>
          <div class="nav-right"> 
            <ul> 
            <li><a href="{{ url_for('static', filename='underdevelopement.html') }}" class="nav-link">Books</a></li>
            <li><a href="{{ url_for('static', filename='underdevelopement.html') }}" class="nav-link">Classical Music</a></li>
            <li><a href="{{ url_for('static', filename='underdevelopement.html') }}" class="nav-link">SahityaKala</a></li>
            <li><a href="{{ url_for('static', filename='underdevelopement.html') }}" class="nav-link">Jyothishya</a></li>
            <li><a href="{{ url_for('static', filename='underdevelopement.html') }}" class="nav-link">Vastukala </a></li>
            <li><a href="{{ url_for('static', filename='underdevelopement.html') }}" class="nav-link">Blog </a></li>            
            <li><image src="https://ssl.gstatic.com/gb/images/bar/al-icon.png" alt="" height="24" width="24" style="margin: 0px 5px;"></image> </li>
            <li> <a href="{{ url_for('static', filename='underdevelopement.html') }}"  class="nav-link">SignIn</a> </li>
            <li><img class="nav-link" src= "{{ url_for('static', filename='man-user-circle-icon.webp') }}" width="25" alt=""></li>            
          </ul>
        </nav>
      </div>
  </header>
  <main role="main" class="">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </main>
</body>
</html>