{% extends "layout.html" %}
{% block content %}

<div class="main-search-bar">
   <img src="{{ url_for('static', filename='logo.png') }}" width="100px" style="margin-right:25px ;"   alt="SanskritArchive">
   <div>
      <br>
      <form>
         <div class="main-search">
            <span class="main-search-icon material-symbols-outlined">
               search
            </span>
            <input class="main-search-input" type="search" placeholder="Search   Books, Authors, Songs">
         </div>
      </form>
   </div>
</div>

<div style="margin: 20px;">
   <h1 style="margin-bottom: 5px;font-size: 1.5rem;">   Library </h1>
{% for song_meta in song_list%}
<!-- {{song_meta['song_idx']}} <a href = "{{ url_for('lib') }}/{{song_meta['song_idx']}}"  > {{song_meta['song_name']}}  </a> ({{song_meta['song_short_name']}}) <br>   -->
 <!-- {{song_meta}} <br> -->

 <div class="song-header" >
    <a class="song-header-anchor" href = "{{ url_for('lib') }}/{{song_meta['song_idx']}}"  > {{song_meta['song_name']}}  </a> <br>
 </div>
 {% endfor %}
</div>

</div>

{% endblock content %}